
.home-dot{
  background-color: #FF893A !important;
}
body,html{ 
  background: #151515;
  height: 100%;
  animation: trasitionIn 0.75s;
}
@keyframes trasitionIn{
  from{
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
*{
  font-family: montserrat, sans-serif;
}
.hi-there{
  font-size: 20px;
  font-weight: 500;
  padding-top: 20%;
  //padding-left: 22px;
  // padding-left: 8%;
  padding-left: 9%;
  color: #ffff;
}
.im-stewart-clay{
  font-size: 24px;
  font-weight: 700;
  //padding-left: 22px;
  // padding-left: 8%;
  padding-left: 9.8%;
  //padding-top: 15px;
  color: #fff;
}
.stewart-clay{
  color: #FF893A;
}
.about-me{
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 1.08px;
  // padding-left: 22px;
  //padding-top: 15px;
  width: 269px;
  color: #ffff;
}
body{
  background: url('/images/index/diagonal-rectangle.svg') no-repeat;
  background-size: cover;
  //height: 10000px;
  //position: relative;
  //overflow: hidden;
  height: 590px;
}

@media screen and (min-width: 950px) {

body{
  height: 100%  !important;
}
.hi-there{
  font-size: 22px;
  padding-top: 20%;
  padding-left: 21%;
}
.im-stewart-clay{
  font-size: 72.81px;
  padding-left: 20.8%;
  //padding-right: 100px;
}
}