
body, html{
 //   background: linear-gradient( rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6) ),url("../../images/index/sukant-sharma-oCGLfr7GSPk-unsplash.jpg") no-repeat center center fixed;
  //  background-position: center center;
 //   background-repeat: no-repeat;
  //  background-attachment: fixed;
 //   background-size: cover;
 //   height:100%;
 //   margin: 0;
 //   padding:0;
 //   width: 100%;
 height: 100%;
 margin:0;
  }

.img{
background: linear-gradient( rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6) ),url("../../images/index/sukant-sharma-oCGLfr7GSPk-unsplash.jpg") no-repeat center center fixed;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
height:100%;
margin: 0;
padding:0;
width: 100%;
  }
  section{
    height: 600px;
    background-color: #1A222F;
  }

  .welcome{
    text-align: center;
    padding-left: 5%;
    padding-top: 30px;
    color: #999999;
  }
  .h1-hello{
    font-size: 40px;
    hr{
    font-size: 45px;
    margin-bottom: 6px;
    display: inline-block;
    border: 1px;
    height: 2px;
    background-color: #FF893A;
    width: 100px;
    }
  }
  .h2-i{
    font-size: 30px;
  }
  .h3-coding{
     font-size: 20px;
  }
  .hire-me{
    width: 100px;
    height: 100px;
  }
  
  .buttons{
    padding-top: 20px;
  }
  // .btn-4{
  //   text-align: center; 
  //   height: 40px;
  //   padding: 0px 40px;
  //   //padding: 10px;
  //   //padding-right: 50px;
  //   background-color: #FF893A;
  // }
  // .btn-5{
  //   text-align: center; 
  //   height: 40px;
  //   padding: 0px 40px;
  //   background-color: #FF893A;
  // }
  
  .custom-btn {
    //padding: 10px 25px !important;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    color: #999999;
  }
  // .btn-4 , .btn-5{
  //   display: none;
  // }
  /**** BTN No. 4 ****/
  .btn-4 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-4 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-4:before,
  .btn-4:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #FF893A;
    transition: all 0.3s ease;
  }
  .btn-4:before {
    height: 50%;
    width: 2px;
  }
  .btn-4:after {
    width: 20%;
    height: 2px;
  }
  .btn-4:hover:before {
    height: 100%;
  }
  .btn-4:hover:after {
    width: 100%;
  }
  .btn-4 span:before,
  .btn-4 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: #FF893A;
    transition: all 0.3s ease;
  }
  .btn-4 span:before {
    width: 2px;
    height: 50%;
  }
  .btn-4 span:after {
    width: 20%;
    height: 2px;
  }
  .btn-4 span:hover:before {
    height: 100%;
  }
  .btn-4 span:hover:after {
    width: 100%;
  }
  
  /**** BTN No. 5 ****/
  .btn-5 {
    margin-left: 20px;
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-5 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-5:before,
  .btn-5:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #FF893A;
    transition: all 0.3s ease;
  }
  .btn-5:before {
    height: 50%;
    width: 2px;
  }
  .btn-5:after {
    width: 20%;
    height: 2px;
  }
  .btn-5:hover:before {
    height: 100%;
  }
  .btn-5:hover:after {
    width: 100%;
  }
  .btn-5 span:before,
  .btn-5 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #FF893A;
    transition: all 0.3s ease;
  }
  .btn-5 span:before {
    width: 2px;
    height: 50%;
  }
  .btn-5 span:after {
    width: 20%;
    height: 2px;
  }
  .btn-5 span:hover:before {
    height: 100%;
  }
  .btn-5 span:hover:after {
    width: 100%;
  }
  @media (min-width: 420px){
    .welcome{
      text-align: left;
    }
  }


@media (min-width: 862px){
  .welcome{
    padding-left: 10%;
    padding-top: 300px;
    color: #999999;
  }
  .h1-hello{
    font-size: 70px;
    hr{
    font-size: 45px;
    margin-bottom: 6px;
    display: inline-block;
    border: 1px;
    height: 2px;
    background-color: #FF893A;
    width: 200px;
    }
  }
  .h2-i{
    font-size: 50px;
  }
  .h3-coding{
    font-style: 50px;
  }
  .hire-me{
    width: 100px;
    height: 100px;
  }
  
  .buttons{
    padding-top: 20px;
  }
  // .btn-4{
  //   text-align: center; 
  //   height: 40px;
  //   padding: 0px 40px;
  //   //padding: 10px;
  //   //padding-right: 50px;
  //   background-color: #FF893A;
  // }
  // .btn-5{
  //   text-align: center; 
  //   height: 40px;
  //   padding: 0px 40px;
  //   background-color: #FF893A;
  // }
  
  .custom-btn {
    //padding: 10px 25px !important;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    color: #999999;
  }
  
  /**** BTN No. 4 ****/
  .btn-4 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-4 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-4:before,
  .btn-4:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #FF893A;
    transition: all 0.3s ease;
  }
  .btn-4:before {
    height: 50%;
    width: 2px;
  }
  .btn-4:after {
    width: 20%;
    height: 2px;
  }
  .btn-4:hover:before {
    height: 100%;
  }
  .btn-4:hover:after {
    width: 100%;
  }
  .btn-4 span:before,
  .btn-4 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: #FF893A;
    transition: all 0.3s ease;
  }
  .btn-4 span:before {
    width: 2px;
    height: 50%;
  }
  .btn-4 span:after {
    width: 20%;
    height: 2px;
  }
  .btn-4 span:hover:before {
    height: 100%;
  }
  .btn-4 span:hover:after {
    width: 100%;
  }
  
  /**** BTN No. 5 ****/
  .btn-5 {
    margin-left: 20px;
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-5 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-5:before,
  .btn-5:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #FF893A;
    transition: all 0.3s ease;
  }
  .btn-5:before {
    height: 50%;
    width: 2px;
  }
  .btn-5:after {
    width: 20%;
    height: 2px;
  }
  .btn-5:hover:before {
    height: 100%;
  }
  .btn-5:hover:after {
    width: 100%;
  }
  .btn-5 span:before,
  .btn-5 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #FF893A;
    transition: all 0.3s ease;
  }
  .btn-5 span:before {
    width: 2px;
    height: 50%;
  }
  .btn-5 span:after {
    width: 20%;
    height: 2px;
  }
  .btn-5 span:hover:before {
    height: 100%;
  }
  .btn-5 span:hover:after {
    width: 100%;
  }
}