//Variable Declarations START
$background-color: #151515;
$mobile-nav-background-color: #24104f;
$primay-accent-color: #ff893a;
$white-fonts: #fff;
$white-button-color: #fff;
$color-picker-color-1: #ff4444;
$color-picker-color-2: #00bfff;
$color-picker-color-3: #08ff00;
$color-picker-color-4: #ff893a;
$color-picker-color-5: #003cff;
$primary-dot-background-color: #202324;
//not used
$color-picker-dot-border-color: #fff;
//global styles START
* {
  margin: 0;
  padding: 0;
  font-family: montserrat, sans-serif;
}
body,
html {
  background-color: $background-color;
  //loading animation when openning page, will replace with loading screen and transitions
  animation: trasitionIn 0.75s;
}
//loading animation START
@keyframes trasitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
//loading animation END ------------------------

//global styles END------------------
// Logo - STEWARTCLAY START
.logo {
  z-index: 9999;
  position: absolute;
  padding-top: 30px;
  padding-left: 35px;
  font-size: 22px;
  color: #ffff;
  font: bold;
  a {
    text-decoration: none;
    color: #fff;
  }
}
.logo-clay {
  color: #ff893a;
}
//Logo - STEWARTCLAY END ------------
//Variable Declarations END----------------
.mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  background-color: $background-color;
  padding-top: 120px;
  transition: 0.4s;
  transition: all 1000ms ease-out;
}
//Mobile navigation and hamburger START
.mobile-nav.is-active {
  right: 0;
  .hamburger {
    position: fixed;
  }
}
.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  color: $white-fonts;
  text-decoration: none;
}
.mobile-nav a:hover {
  background-color: $mobile-nav-background-color;
}
.menu {
  display: none;
  position: fixed;
  right: 50px;
  top: 40%;
}
.hamburger div:nth-child(1) {
  width: 27px;
}
.hamburger div:nth-child(2) {
  width: 32px;
}
.hamburger div:nth-child(3) {
  width: 25px;
}

.hamburger {
  z-index: 3;
  position: absolute;
  cursor: pointer;
  right: 24px;
  padding-top: 27px;
}
//Hamburger animation START
.hamburger.animate {
  //moves ham to be inline with menu text
  margin-top: -2px;
  .line:nth-child(1) {
    width: 27px;
    transform: rotate(45deg);
    transform-origin: 0% 48%;
  }
  .line:nth-child(2) {
    width: 27px;
    opacity: 0;
  }
  .line:nth-child(3) {
    width: 27px;
    transform: rotate(-45deg);
    transform-origin: 16% 100%;
  }
}
//Hamburger animation END-----------
//Mobile navigation and hamburger END-----------------

//Desktop menu START
.blue {
  position: relative;
  z-index: 2;
}

.color-picker-svg {
  width: 25px;
  padding-left: 21px;
  padding-top: 12px;
}
.home-svg {
  width: 30px;
  height: 27px;
  padding-left: 17px;
  padding-top: 18px;
}
.chatting-svg {
  width: 27px;
  height: 27px;
  padding-left: 19px;
  padding-top: 20px;
}
#color-picker {
  fill: #ffff;
  z-index: 3;
  width: 10px !important;
  height: 10px;
  position: relative;
  margin-top: 32%;
  margin-left: 35%;
}
.home-dot {
  width: 65px;
  height: 65px;
  border-radius: 150px;
  margin-top: 10px;
  // float: right;
  /* sets the postion of the blocks */
  background-color: $primary-dot-background-color;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
  border: 0;
}
.contact-dot {
  width: 65px;
  height: 65px;
  border-radius: 150px;
  margin-top: 10px;
  /* sets the postion of the blocks */
  background-color: $primary-dot-background-color;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
  border: 0;
}
a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.red,
.blue {
  /* sets the width and height off the 2 blocks */
  width: 65px;
  height: 65px;
  border-radius: 150px;
  /* sets the postion of the blocks */
  // float: right;
  background-color: $primary-dot-background-color;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
  border: 0;
}

.red {
  display: none;
  //fixed issue because we have 3 divs and were tying to use float right it would not make all divs go underneath eachother
  //The next 3 lines fix it and move just the red class up so that it is inline and ontop of the blue div
  position: absolute;
  top: 0;
  //fixes issue that the white dot of selected color would show a little on the right of the color picker
  right: 1px;
  //------------
  background-color: $primary-dot-background-color;
  font-size: 0;
  transition: all 1.3s;
  text-align: center;
  visibility: hidden;
  display: inline-flex;
  overflow: hidden;
}
.color1,
.color2,
.color3,
.color4,
.color5 {
  margin-top: 16px;
}

.color1 {
  /* margin-left moves all dots to the right */
  margin-left: 30px;
  outline: none !important;
  visibility: initial;
  height: 35px;
  width: 35px;
  margin-right: 20px;
  border-radius: 150px;
  background-color: $color-picker-color-1;
  display: block;
}

.color2 {
  visibility: initial;
  height: 35px;
  width: 35px;
  margin-right: 20px;
  border-radius: 150px;
  background-color: $color-picker-color-2;
  display: block;
}

.color3 {
  visibility: initial;
  height: 35px;
  width: 35px;
  margin-right: 20px;
  border-radius: 150px;
  background-color: $color-picker-color-3;
  display: block;
}

.color4 {
  border-radius: 150px;
  visibility: initial;
  height: 35px;
  width: 35px;
  margin-right: 20px;
  background-color: $color-picker-color-4;
  display: block;
}

.color5 {
  height: 35px;
  width: 35px;
  margin-right: 50px;
  border-radius: 150px;
  background-color: $color-picker-color-5;
}
.red:hover ~ .red {
  width: 370px !important;
}

.red:hover {
  visibility: initial;
  width: 370px;
}

.blue:hover ~ .red {
  visibility: initial;
  width: 370px;
}
.blue:hover ~ .red .color1 {
  visibility: initial;
  opacity: 1;
}

.red:hover .color1 {
  visibility: initial;
  opacity: 1;
}
.blue:hover ~ .red .color3 {
  visibility: initial;
  opacity: 1;
}

.red:hover .color3 {
  visibility: initial;
  opacity: 1;
}

.blue:hover ~ .red .color4 {
  visibility: initial;
  opacity: 1;
}

.red:hover .color4 {
  visibility: initial;
  opacity: 1;
}

.blue:hover ~ .red .color5 {
  visibility: initial;
  opacity: 1;
}

.red:hover .color5 {
  visibility: initial;
  opacity: 1;
}
//Desktop menu END-------------
.line {
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  transition: all cubic-bezier(0.26, 1, 0.27, 1.55) 0.35s;
}

//this is what is called from the js file
li.fade {
  opacity: 1;
}

// Media query 990px - START
@media screen and (min-width: 990px) {
  //when resizing screen hide or show mobile when open - START
  body {
    overflow: unset !important;
  }
  .mobile-nav {
    right: -100% !important;
  }
  //when resizing screen hide or show mobile when open - END --------
  .hamburger {
    display: none;
  }
  .menu {
    display: block;
  }
  .logo {
    position: fixed;
  }
}
// Media query 990px - END ---------------
