.mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  background-color: #151515;
  padding-top: 120px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition: all 1000ms ease-out;
  transition: all 1000ms ease-out;
}

.mobile-nav.is-active {
  right: 0;
}

.mobile-nav.is-active .hamburger {
  position: fixed;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  color: #FFF;
  text-decoration: none;
}

.mobile-nav a:hover {
  background-color: #24104f;
}

.menu {
  position: fixed;
  right: 50px;
  top: 40%;
}

.blue {
  position: relative;
  z-index: 2;
  /* this takes the 2 divs and makes them one so its one line
  to see this change the red color and blue while removing transform */
  /* transform: translateX(-25px); */
}

.color-picker-svg {
  width: 25px;
  padding-left: 21px;
  padding-top: 12px;
}

.home-svg {
  width: 30px;
  height: 27px;
  padding-left: 17px;
  padding-top: 18px;
}

.chatting-svg {
  width: 27px;
  height: 27px;
  padding-left: 19px;
  padding-top: 20px;
}

#color-picker {
  fill: #FFFF;
  z-index: 3;
  width: 10px !important;
  height: 10px;
  position: relative;
  margin-top: 32%;
  margin-left: 35%;
}

.menu {
  display: none;
}

.container {
  /* padding-right: 100px; */
}

.home-dot {
  width: 65px;
  height: 65px;
  border-radius: 150px;
  margin-top: 10px;
  /* sets the postion of the blocks */
  background-color: #202324;
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
  border: 0;
}

.contact-dot {
  width: 65px;
  height: 65px;
  border-radius: 150px;
  margin-top: 10px;
  /* sets the postion of the blocks */
  background-color: #202324;
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
  border: 0;
}

a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.red,
.blue {
  /* sets the width and height off the 2 blocks */
  width: 65px;
  height: 65px;
  border-radius: 150px;
  /* sets the postion of the blocks */
  background-color: #202324;
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
  border: 0;
}

.red {
  display: none;
  position: absolute;
  top: 0;
  right: 1px;
  /* visibility: hidden; */
  /* make this 2 to show colors */
  background-color: #202324;
  font-size: 0;
  /* width: 430px; */
  /* set to 100px */
  -webkit-transition: all 1.3s;
  transition: all 1.3s;
  /* width100% with overflow makes the dots come from inside the dot and not the far right */
  text-align: center;
  /* width: 100%; */
  visibility: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

.color1,
.color2,
.color3,
.color4,
.color5 {
  margin-top: 13px;
}

/* .colors { */
/* width100% with overflow makes the bots come from inside the dot and not the far right */
/* text-align: center; */
/* width: 100%; */
/* width: 0px;
  visibility: hidden;
  padding-top: 30px;
  padding-left: 40px;
  display: inline-flex;
  overflow: hidden;
} */
.color1 {
  /* margin-left moves all dots to the right */
  margin-left: 30px;
  outline: none !important;
  visibility: initial;
  height: 40px;
  width: 40px;
  /* opacity: 0; */
  margin-right: 20px;
  border-radius: 150px;
  background-color: #FF4444;
  display: block;
}

.color2 {
  visibility: initial;
  height: 40px;
  width: 40px;
  /* opacity: 0; */
  margin-right: 20px;
  border-radius: 150px;
  background-color: #00BFFF;
  display: block;
}

.color3 {
  visibility: initial;
  height: 40px;
  width: 40px;
  /* opacity: 0; */
  margin-right: 20px;
  border-radius: 150px;
  background-color: #08FF00;
  display: block;
}

.color4 {
  border-radius: 150px;
  visibility: initial;
  height: 40px;
  width: 40px;
  /* opacity: 0; */
  margin-right: 20px;
  background-color: #FF893A;
  display: block;
}

.color5 {
  /* visibility: initial; */
  height: 40px;
  width: 40px;
  /* opacity: 0; */
  margin-right: 50px;
  border-radius: 150px;
  background-color: #003CFF;
}

/* .blue:hover + .red {
  width: 430px;
} */
.red:hover ~ .red {
  width: 430px !important;
}

.red:hover {
  visibility: initial;
  width: 430px;
}

.blue:hover ~ .red {
  visibility: initial;
  width: 430px;
}

/* .red:hover .colors {
  visibility: initial;
  width: 100%;
  
}

.blue:hover~.red .colors {
  visibility: initial;
  width: 100%;
  
} */
.blue:hover ~ .red .color1 {
  visibility: initial;
  opacity: 1;
  /* transition: opacity 5s; */
}

.red:hover .color1 {
  visibility: initial;
  opacity: 1;
  /* transition: opacity 5s; */
}

.blue:hover ~ .red .color2 {
  /* visibility: initial; */
  /* opacity: 1; */
  /* transition: opacity 5s; */
}

.red:hover .color2 {
  /* visibility: initial; */
  /* opacity: 1; */
  /* transition: opacity 5s; */
}

.blue:hover ~ .red .color3 {
  visibility: initial;
  opacity: 1;
  /* transition: opacity 5s; */
}

.red:hover .color3 {
  visibility: initial;
  opacity: 1;
  /* transition: opacity 5s; */
}

.blue:hover ~ .red .color4 {
  visibility: initial;
  opacity: 1;
  /* transition: opacity 5s; */
}

.red:hover .color4 {
  visibility: initial;
  opacity: 1;
  /* transition: opacity 5s; */
}

.blue:hover ~ .red .color5 {
  visibility: initial;
  opacity: 1;
  /* transition: opacity 5s; */
}

.red:hover .color5 {
  visibility: initial;
  opacity: 1;
  /* transition: opacity 5s; */
}

.app-style-class {
  border: 5px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.logo {
  z-index: 9999;
  position: absolute;
  padding-top: 30px;
  padding-left: 35px;
  font-size: 22px;
  color: #ffff;
  font: bold;
}

.logo-clay {
  color: #FF893A;
}

.line {
  height: 3px;
  background-color: white;
  margin: 5px;
  -webkit-transition: all cubic-bezier(0.26, 1, 0.27, 1.55) 0.35s;
  transition: all cubic-bezier(0.26, 1, 0.27, 1.55) 0.35s;
}

.hamburger div:nth-child(1) {
  width: 27px;
}

.hamburger div:nth-child(2) {
  width: 32px;
}

.hamburger div:nth-child(3) {
  width: 25px;
}

.hamburger {
  z-index: 3;
  position: absolute;
  cursor: pointer;
  right: 24px;
  padding-top: 27.0px;
}

.hamburger.animate {
  margin-top: -2px;
}

.hamburger.animate .line:nth-child(1) {
  width: 27px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 0% 48%;
          transform-origin: 0% 48%;
}

.hamburger.animate .line:nth-child(2) {
  width: 27px;
  opacity: 0;
}

.hamburger.animate .line:nth-child(3) {
  width: 27px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 16% 100%;
          transform-origin: 16% 100%;
}

.landing {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

li.fade {
  opacity: 1;
}

@media screen and (min-width: 910px) {
  .hamburger {
    display: none;
  }
  .menu {
    display: block;
  }
  .logo {
    position: fixed;
  }
}
/*# sourceMappingURL=header.css.map */